@import "./Vars.scss";
@import "./Media.scss";

body {
  margin: 0;
  font-family: $mainFont;
  background: $mainColor;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}
